<div class="skillcon  ">
  <div class="container">


    <div class="row">


      <div class="col-md-5" style="float: left">
        <img src="assets/img/pp.jpeg" class="img-rounded img-responsive"  >

        </div>

      <div class="col-md-7" style="float: right">
        <b><i><q>
            I am an enthusiastic and high-achieving Masters of Science in Computer Science(MS in CS) graduate from Pace University, New York. During my studies , I came across various subjects like Mobile App Development, Cloud Computing ,Computer Networks, Parallel Distributed Computing, Datastructures etc.
  I am proficient in various high level languages such as HTML CSS, Python, Java, PHP, JavaScript, SQL.During my curriculum I have developed competencies in diverse areas like algorithms, databases, web designing, and mobile application development using Android Studio. I have not limited myself only to academic curriculum, but have also completed and currently pursuing many certification courses.
</q></i></b>
        <br>
        <br>
        <button style="font-size:20px ; background-color: darkred;color: wheat "><a href="assets/img/Resume_Prasad.pdf" target="_blank" style="color: wheat">Download Resume </a><i class="fa fa-file-text"></i></button>
      </div>

      </div>

    </div>



  </div>
