<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <br>

    <div class="mySlides">
      <div class="numbertext fade"></div>
      <!--<img src="../../assets/img/header.jpg" style="width:100%">-->
      <!--<div class="text">Caption Text</div>-->

      <p><q>
        I worked with Prasad for 3 months at the Pace University Computer Resource Center Laboratory. The commitment that he had to that job was second to none and he always went out of his way to make sure that every student, faculty, and staff member’s issues were solved by the time they left the laboratory. He has great communication skills and because of this, he was able to build long lasting relationship with his co-workers, as well as the people he assisted. If Prasad was unable to assist a student, faculty, or staff member, he watched our Supervisors and client support team help them, so the next time they needed help with the same issue, he knew how to assist them. It was an honor to work with Prasad and I believe his high energy, great communication skills, and willingness to learn more separates him from others and will make him a great candidate for employment in his respective field.</q></p>
      <br>
      <p style="float: right">Nicholas D'Antoni<i>-Computer Resource Center - Pace University</i></p>

    </div>

    <!--<div class="mySlides">-->
    <!--<div class="numbertext fade">3 / 3</div>-->
    <!--<img src="../../assets/img/Experience.jpg" style="width:20%">-->
    <!--<div class="text">Caption Three</div>-->
    <!--</div>-->
    <!--<a class="prev" (click)="plusSlides(-1)">&#10094;</a>-->
    <!--<a class="next" (click)="plusSlides(1)">&#10095;</a>-->



<br>
    <div style="text-align:center;" >
      <!--<span class="dot" (click)="currentSlide(1)"></span> -->
      <!--<span class="dot" (click)="currentSlide(2)"></span> -->
      <!--<span class="dot" (click)="currentSlide(3)"></span>-->
    </div>
  </div>
</div>
